{% block body %}
    {# TODO ПЕРЕДЕЛАТЬ ЭТОТ УЖАС #}
    <script src="{{ asset('js/ad/price_pattern.js') }}"></script>

    {# Фильтры #}
        {# Фильтр по цене #}
        <div class="row">
            <h5>Стоимость</h5>
            <div class="input-group-sm mb-3">
                <input type="number" step="1000" class="form-control shadow-none" placeholder="От">
                <input type="number" step="1000" class="form-control shadow-none" placeholder="До">
            </div>
        </div>
        <div class="row">
            <h5>Площадь</h5>
            <div class="input-group-sm mb-3">
                <input type="number" step="0.1" class="form-control shadow-none" placeholder="От">
                <input type="number" step="0.1" class="form-control shadow-none" placeholder="До">
            </div>
        </div>



{% endblock %}