{# templates/registration/index.html.twig #} {% extends 'client/navigation.html.twig' %} {%
    block body %}
    <style>

    </style>
    {% if app.user %}
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                Личный кабинет
            </div>
            <div class="col-md-10 ml-md-auto">
                {{ client.username }}
            </div>

        </div>
    {% else %}
        <h1>Only for logged users</h1>
    {% endif %}

{% endblock %}