{% extends 'client/navigation.html.twig' %} {% block body %}
    <script src="{{ asset('js/ad/price_pattern.js') }}"></script>
    <style>
        .carousel-item {
            width: 100%;
            height: 200px;
            overflow: hidden;
        }

        .carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: dimgrey;
        }

    </style>
    {# TODO ПРОВЕРКА ДОСТУПА КОНКРЕТНОГО ПОЛЬЗОВАТЕЛЯ К КОНКРЕТНОМУ ПРОФИЛЮ #}
    {% if app.user %}
        <div class="container">
            <div class="card">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="nav flex-column">
                            <div class="nav-item"><a
                                        href="{{ path('client_profile_data', {'id_client': app.user.id}) }}">Личные
                                    данные</a></div>
                            <div class="nav-item"><a
                                        href="{{ path('client_profile_ad_own_all',{'id_client': app.user.id}) }}">Созданные
                                    объявления</a></div>
                            <div class="nav-item">
                                <a href="{{ path('client_profile_favorite',{'id_client':app.user.id}) }}">Избранное</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        {% block active_block %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Only for logged users</h1>
    {% endif %}

{% endblock %}